name = "ClimaSeaIce"
uuid = "6ba0ff68-24e6-4315-936c-2e99227c95a4"
authors = ["Climate Modeling Alliance and contributors"]
version = "0.3.13"

[deps]
Adapt = "79e6a3ab-5dfb-504d-930d-738a2a938a0e"
KernelAbstractions = "63c18a36-062a-441e-b654-da1e3ab1ce7c"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
Oceananigans = "9e8cae18-63c1-5223-a75c-80ca9d6e9a09"
RootSolvers = "7181ea78-2dcb-4de3-ab41-2b8ab5a31e74"
Roots = "f2b01f46-fcfa-551c-844a-d8ac1e96c665"
SeawaterPolynomials = "d496a93d-167e-4197-9f49-d3af4ff8fe40"

[compat]
Adapt = "3, 4"
KernelAbstractions = "0.9"
JLD2 = "0.6.2"
Oceananigans = "0.104.1"
RootSolvers = "0.3, 0.4"
Roots = "2"
SeawaterPolynomials = "0.3.4"
julia = "1.9"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
MPI = "da04e1cc-30fd-572f-bb4f-1f8673147195"

[targets]
test = ["Test", "MPI"]
